@font-face {
  font-family: 'MessinaSansWeb';
	src: url('/r_static/dist/css/webfonts/messina_sans_light/MessinaSansWeb-Light.eot'); /* IE9 Compat Modes */
	src: url('/r_static/dist/css/webfonts/messina_sans_light/MessinaSansWeb-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	     url('/r_static/dist/css/webfonts/messina_sans_light/MessinaSansWeb-Light.woff2') format('woff2'), /* Super Modern Browsers */
         url('/r_static/dist/css/webfonts/messina_sans_light/MessinaSansWeb-Light.woff') format('woff'); /* Pretty Modern Browsers */
	font-weight: 300;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+000D-FB04;
	font-display: swap;
}

@font-face {
  font-family: 'MessinaSansWeb';
	src: url('/r_static/dist/css/webfonts/messina_sans_regular/MessinaSansWeb-Regular.eot'); /* IE9 Compat Modes */
	src: url('/r_static/dist/css/webfonts/messina_sans_regular/MessinaSansWeb-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	     url('/r_static/dist/css/webfonts/messina_sans_regular/MessinaSansWeb-Regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('/r_static/dist/css/webfonts/messina_sans_regular/MessinaSansWeb-Regular.woff') format('woff'); /* Pretty Modern Browsers */
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+000D-FB04;
	font-display: swap;
}

@font-face {
  font-family: 'MessinaSansWeb';
	src: url('/r_static/dist/css/webfonts/messina_sans_bold/MessinaSansWeb-Bold.eot'); /* IE9 Compat Modes */
	src: url('/r_static/dist/css/webfonts/messina_sans_bold/MessinaSansWeb-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	     url('/r_static/dist/css/webfonts/messina_sans_bold/MessinaSansWeb-Bold.woff2') format('woff2'), /* Super Modern Browsers */
         url('/r_static/dist/css/webfonts/messina_sans_bold/MessinaSansWeb-Bold.woff') format('woff'); /* Pretty Modern Browsers */
	font-weight: 700;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+000D-FB04;
	font-display: swap;
}
